name: Update SearXNG Instances

on:
  schedule:
    - cron: "0 15 * * 5"
  workflow_dispatch: {}

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  update-searxng-instances:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup
        uses: ./.github/actions/setup

      - name: Update SearXNG instances
        run: pnpm update-searxng-instances

      - name: Create pull request
        uses: peter-evans/create-pull-request@c0f553fe549906ede9cf27b5156039d195d2ece0 # v8.1.0
        with:
          commit-message: "searxng: update instances"
          branch: update-searxng-instances
          title: Update SearXNG instances
